<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAfJRQQmMY-4w0srHDxB7XIFBrbNRvfqFM</string>
	<key>GCM_SENDER_ID</key>
	<string>1057096459013</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginResponsive</string>
	<key>PROJECT_ID</key>
	<string>login-app-fbd78</string>
	<key>STORAGE_BUCKET</key>
	<string>login-app-fbd78.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1057096459013:ios:d2460836c564a66b388d6c</string>
</dict>
</plist>